.modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;

    .modalContainer {
        top: 50%;
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #4e5354;
    }
}