

.container-back {
    background-image: url("https://img.freepik.com/premium-vector/colorful-music-note-icon-musical-music-notes-song-melody-tune-white-isolated_138676-581.jpg");
}

.bg-secondary {
    background-color: white;
}

.directionDropdown {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.select-form {

    position: fixed;
    display: block;

    .form-select {
        padding: 5px 5px;
        margin: 5px 5px;
        
}

}
