.directionDropdown {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

select.form-select {
    position: absolute;
    display: block;
    margin: 5px 5px;
    padding: 7px 7px;
    cursor: pointer;
}